
:root{
    --primary-color:white;
}

body{
    background-color: #404041 ;
    color: var(--primary-color);
}

h1{
    margin:auto ;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 300%;
}

.container{
    width: 50%;
    margin: auto;
}

input,
label{
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

input{
    margin-bottom: 0.5rem;
    width: 100%;
}

#check-number{
    display: block;
    margin-top: 1rem;
    margin: auto;
    border-color: var();
    border-width: medium;
    padding: 1rem;
    border-radius: 0.3rem;
}

textarea{
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    height: 2rem;
}
